{{!< default}}


<main class="post-template" role="main">
    {{#post}}
        <header class="post-header">
            <div class="header-wrapper">
                <a href="/" class="logo">H</a>

                <img src="../x/shared/img/user-image.jpg" style="max-width: 30px; max-height: 30px; border-radius: 100%; padding: 3px 10px; display: inline-block; float: left;" alt="">

                <a class="post-meta">{{author.name}} on {{date updated_at}}</a>
                <a class="post-readtime">{{reading_time}}</a>
            </div>
        </header>

        <article class="post-wrapper">
            <h1 class="post-title">{{title}}</h1>

            <section class="post-content">
                {{{html}}}
            </section>

            <footer class="post-footer">
                <section class="author-meta">
                    <h6>{{author.name}}</h6>
                </section>

                <section class="share">
                    <h6>Share this post</h6>
                </section>
            </footer>
        </article>
    {{/post}}
</main>
