{{!< default}}

<main class="post-template" role="main">
        <header class="post-header">
            <a href="/">HOME</a>
        </header>
        {{#post}}

        <article class="post-wrapper">

            <h1 class="post-title">{{title}}</h1>
            <span class="post-meta">{{date updated_at}}</span>
            <span class="post-readtime">{{reading_time}}</span>

            <section class="post-content">
                {{{html}}}
            </section>

            <footer class="post-footer">
                <section class="author-meta">
                    <h6>{{author.name}}</h6>
                </section>

                <section class="share">
                    <h6>Share this post</h6>
                </section>
            </footer>
        </article>
        {{/post}}
</main>
