<header class="preview-header">
    <section class="post-control">
   		<small><i class="fa fa-bookmark-o"></i> &nbsp;&nbsp;PUBLISHED by {{author.name}} &nbsp;&nbsp;
    		|&nbsp;&nbsp;{{date created_at format="Do MMMM YYYY"}} </small>
        <a href="/admin/editor/{{id}}/"  class="pull-right fade"><i class="fa fa-trash-o"></i></a>          
        <a href="/admin/editor/{{id}}/" class="pull-right fade"><i class="fa fa-pencil"></i></a>
    </section>
</header>
<div class="wrapper"><h1>{{{title}}}</h1>{{{html}}}</div>
