<a href="" class="button-back"></a>
<aside class="action-group">
	<a href="/admin/editor/{{id}}/" class="mobile-edit"></a>
	<a href="/admin/editor/{{id}}/" class="mobile-delete"></a>
</aside>
<header class="preview-header">
    <section class="post-control">
   		<small><i class="fa fa-bookmark-o"></i> &nbsp;&nbsp;PUBLISHED by {{author.name}} &nbsp;&nbsp;
    		|&nbsp;&nbsp;{{date created_at format="MMM Do"}} </small>
        <a href="/admin/editor/{{id}}/"  class="pull-right fade"><i class="fa fa-trash-o"></i></a>          
        <a href="/admin/editor/{{id}}/" class="pull-right fade"><i class="fa fa-pencil"></i></a>
    </section>
</header>
<div class="wrapper"><h2>{{{title}}}</h2>{{{html}}}</div>
